<!-- Portfolio Modals -->
 {% for port in site.portfolio %}
    <div class="portfolio-modal modal fade" id="portfolioModal-{{ port.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ port.title }}</h2>
                            <img src="{{ port.img | prepend: '/assets/img/portfolio/' }}" class="img-responsive img-centered" alt="{{ port.alt }}">
                            <div class="page-content">
                              <div class="wrapper">
                                <p>{{ content }}</p>
                              </div>
                            </div>
                            {% if post.description %}
                                <p>{{ port.description }}</p>
                            {% endif %}
                            <ul class="list-inline item-details">
                                {% if port.project-date %}
                                    <li>Date:
                                        <strong><a href="http://startbootstrap.com">{{ port.project-date }}</a>
                                        </strong>
                                    </li>
                                {% endif %}
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}