    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
    <style>
    .fa-search-plus .image{
        opacity: 0.3;
    }
    </style>
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Portfolio</h2>
                </div>
            </div>
            <div class="row">
                {% for port in site.portfolio %}
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal-{{ port.modal-id }}" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x">{{ port.name }}</i>
                                </div>
                            </div>
                            <img src="{{ port.img | prepend: '/assets/img/portfolio/' }}" class="img-responsive" alt="{{ port.alt }}">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>